{% extends "layout.html" %}
{% block body %}
  					<div class="write">
  					    <div class="container"><h2>Додати роботу (замовлення)</h2></div>
  					    <div class="w_block">
                        <input class="title_value" type="text" title="Title" placeholder="Заголовок..." id="title">
                        <div class="more desc_v" turn="#title">How to write title...</div>
                        <input class="title_value" title="Subject" type="hidden" placeholder="Тема..." id="subject">
                        <input type="date" id="deadline" placeholder="Deadline...">
                        <input type="number" id="max_people" placeholder="Максимальна кількість людей..." min="1" max="50">
                        <textarea class="desc_value" title="Description" placeholder="Опис..." id="description"></textarea>
                        <div class="more desc_v" turn="#description">Як писати опис...</div>
                        <div class="editor_pl"><div id="text"></div></div>
                        </div>
                        <input class="butt btn" type="button" id="send_write" value="Надіслати">
					</div>
					<script>edit();</script>
{% endblock %}